*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  --animate-duration: .5s;
}
body {
  font-family: 'Sarabun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}
h1, h2, h3, h4, p, a, li, input, button {
  font-size: 1.6rem;
}
main {
  text-align: center;
}

/* Animate Css
====================== */
.animate__animated.animate__fadeIn {
  --animate-duration: .2s;
}